<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using EntityLayer.Concrete;
@model Writer;
@{
	Layout = "~/Views/Shared/UserLayout.cshtml";
	ViewData["Title"] = "Registration";
}

	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Register Now</h3>
			<div class="inner-sec">
				<div class="login p-5 bg-light mx-auto mw-100">
					<form action="/Registration/Register" method="post">
						<div class="form-row">
							<div class="col-md-6 mb-3">
								<label for="validationCustom01">Full name</label>
								@Html.TextBoxFor(x=>x.Name, new {@class = "form-control"})
								
							</div>
							<div class="col-md-6 mb-3">
								<label for="validationCustom02">Email</label>
								@Html.TextBoxFor(x=>x.EmailAdress, new {@class = "form-control"})
								
								
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
							<label for="password1 mb-2">Password</label>
								@Html.TextBoxFor(x=>x.Password, new {@class = "form-control",@id="password1",@type="password"})
							</div>
							<div class="form-group col-md-6">
							<label for="password2 mb-2">Confirm Password</label>
							@Html.TextBoxFor(x=>x.Password, new {@class = "form-control",@id="password2",@type="password"})
							</div>
						</div>
						
						<div class="form-group">
							<label for="mb-2">Short information about you</label>
							@Html.TextAreaFor(x=> x.About, new {@class = "form-control"})	
						</div>

						
						<button type="submit" class="btn btn-primary submit mb-4">Become a Writer Now!</button>
						<p>
							<a href="#">By clicking Signup, I agree to your terms</a>
						</p>
					</form>

				</div>
			</div>
		</div>
	</section>
	
	<script src="/CoreBlogTema/web/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	<!--/ start-smoth-scrolling -->
	<script src="/CoreBlogTema/web/js/move-top.js"></script>
	<script src="/CoreBlogTema/web/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
											containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
										};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="js/bootstrap.js"></script>


